<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Base</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script>
  function disableSubmit() {
  document.getElementById("submit").disabled = true;
 }

  function activateButton(element) {

      if(element.checked) {
        document.getElementById("submit").disabled = false;
       }
       else  {
        document.getElementById("submit").disabled = true;
      }

  }


    </script>

</head>
<body class="p-3 mb-2 bg-warning text-dark h-100" style="background:#364150;" onload="disableSubmit()" >
<div class="container" style="width:40%; margin-top:5%; ">
    <div class="jumbotron">

        <h4 class="text-center mt-0 font-weight-bold">Please Provide Your account details</h4>
        <form enctype="multipart/form-data" method="POST" >
            {% csrf_token %}


            <div style="padding-bottom:2.5%" style="padding-top:2.5%">
                <label for="id_first_name" class=" requiredField">
                    First_name<span class="asteriskField">*</span> </label>
                <input type="text" name="first_name" maxlength="150" autofocus=""
                       class="textinput textInput form-control is-invalid" required="" id="id_first_name">

            </div>


            <div style="padding-bottom:2.5%" style="padding-top:2.5%">
                <label for="id_last_name" class=" requiredField">
                    Last_name<span class="asteriskField">*</span> </label>
                <input type="text" name="last_name" maxlength="150" autofocus=""
                       class="textinput textInput form-control is-invalid" required="" id="id_last_name">

            </div>

            <div style="padding-bottom:2.5%">


                <label for="id_email" class=" requiredField">
                    Email<span class="asteriskField">*</span> </label>
                <input type="email" name="email" maxlength="150" autofocus=""
                       class="textinput textInput form-control is-invalid" required="" id="id_email">

            </div>


            <div style="padding-bottom:2.5%" style="padding-top:2.5%">
                <label for="id_country" class=" requiredField">
                    Country<span class="asteriskField">*</span> </label>
                <input type="text" name="country" maxlength="150" autofocus=""
                       class="textinput textInput form-control is-invalid" required="" id="id_country">

            </div>
           <div>
            <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)"> Please accept our terms and
            conditions
            <br><br>


            </div>
            <div style="padding-top:3%">
                <button value="Submit" class="btn btn-primary btn-block mt-5">Next</button>
                <input style="display:none" type="submit" name="save" value="Submit"
                       class="btn btn-primary btn-block mt-5"
                       id="submit-id-save">
            </div>


        </form>
    </div>
</div>

</body>
</html>