<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Base</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



</head>
<body class="p-3 mb-2 bg-warning text-dark h-100" style="background:#364150;" onload="disableSubmit()" >
<div class="container" style="width:60%; margin-top:5%;">
    <div class="jumbotron">
           <li>Show user info--</li>
               <ul>

                   <li>User Name: {{user.username}}</li>
                   <li>Country: {{user.country}}</li>


               </ul>
    </div>
</div>

</body>
</html>